
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spicy+Rice&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 100vh;    
}
  
body > * {
    display: flex;
    flex-direction: row-reverse;
    background-color: rgb(222, 243, 162);
    /*background-color: rgb(224, 224, 207); */  
}
  
header{
    
    background-color: rgb(12, 1, 1);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center; 
    border: 5px solid rgb(212, 248, 112);
    flex-grow: 1;     
}

.container{
    min-height: 100vh;
    flex-grow: 4; 
}

h4{
    margin-left: 10px;
    margin-top: 10px;
    font-family: "Black Ops One", system-ui;
        font-weight: 400;
        font-style: normal;
}

img{ 
    align-self: flex-start;
    width:100px; 
    height:100px;
    margin: 20px;
    border: 2px solid blanchedalmond;
    border-radius: 7px;
}

h1{
    margin-bottom: 5px;
    color: beige; 
     
        font-family: "Black Ops One", system-ui;
        font-weight: 400;
        font-style: normal;
      
      
      }
      


a{
    color: rgb(153, 158, 161);
    padding: 5px 5px;
    margin: 5px 5px;
    text-decoration: none;
    border-radius: 5px; 
    font-family: "Black Ops One", system-ui;
    font-weight: 400;
    font-style: normal; 
}

a:hover{
    background-color: rgb(230, 230, 210);
    color: rgb(12, 1, 1);
}

main{ 
    background-color: rgb(222, 243, 162);
   /* background-color: rgb(224, 224, 207);*/      
    display: flex;
    flex-grow: 4;     
}

.description{
    margin-top: 20px;
    color: rgb(112, 105, 105);
}

.cost{
    margin-top: 20px;
    margin-left: 10px;
}

.info{
    display: inline-block;
    border: 2px solid rgb(44, 41, 41);
    background-color: rgb(44, 41, 41);     
}

.available-one{
    text-align: center;
    align-items: center;
    display: inline-block;
    background-color:rgb(243, 244, 245);
    border-radius: 4px;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 150px;
    height: 150px;
    width: 350px;
    height: 350px;
    font-family: "Black Ops One", system-ui;
    font-weight: 400;
    font-style: normal;    
}

.available-two{
    text-align: center;
    display: inline-block;
    background-color:rgb(243, 244, 245);
    margin-left: 20px;
    margin-bottom: 20px;
    width: 150px;
    height: 150px;
    width: 350px;
    height: 350px; 
    font-family: "Black Ops One", system-ui;
    font-weight: 400;
    font-style: normal;  
}

.available-three{
    text-align: center;
    display: inline-block;
    background-color:rgb(243, 244, 245);
    margin-bottom: 20px;
    margin-left: 20px;
    width: 150px;
    height: 150px;
    width: 350px;
    height: 350px;
    font-family: "Black Ops One", system-ui;
    font-weight: 400;
    font-style: normal;
}

.available-four{
    text-align: center;
    display: inline-block;
    background-color:rgb(243, 244, 245);
    border-radius: 4px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 150px;
    height: 150px;
    width: 350px;
    height: 350px; 
    font-family: "Black Ops One", system-ui;
    font-weight: 400;
    font-style: normal;    
}

.available-five{
    text-align: center;
    display: inline-block;
    background-color:rgb(243, 244, 245);
    border-radius: 4px;
    margin-left: 20px;
    margin-bottom: 20px;
    width: 150px;
    height: 150px;  
    width: 350px;
    height: 350px; 
    font-family: "Black Ops One", system-ui;
    font-weight: 400;
    font-style: normal;
}

.available-six{
    text-align: center;
    display: inline-block;
    background-color:rgb(247, 251, 255);
    border-radius: 4px;
    margin-left: 20px;
    margin-bottom: 20px;
    width: 150px;
    height: 150px;  
    width: 350px;
    height: 350px;
    font-family: "Black Ops One", system-ui;
    font-weight: 400;
    font-style: normal;
}

aside{
    width: 30%;
    height: 65%;
    background-color: rgb(243, 243, 235);
    flex-grow: 1;       
}

.categories{
    text-align: center;  
    font-family: "Black Ops One", system-ui;
        font-weight: 400;
        font-style: normal; 
}

.category{    
    background-color: rgb(222, 243, 162);
    margin: 10px;
    font-family: "Black Ops One", system-ui;
        font-weight: 400;
        font-style: normal;
}

ul>li{
  margin-left: 20px;
  margin-top: 05px;
  font-family: "Black Ops One", system-ui;
        font-weight: 400;
        font-style: normal;
        color: rgb(92, 87, 87);
  
}

ul{
    display: flex;
    flex-direction: column;
    list-style-position: inside;
    list-style: none
}

.benefit{ 
    margin-top: 20px;
    width: 100%;
    height: 300px;    
}

.benefits{
    margin-right: 980px;
    margin-bottom: 30px;   
}

table, th, td{
   background-color: rgb(243, 244, 245);
    border: 1px solid lavender;
    text-align: center;
    border-collapse: collapse;
    padding: 0px 90px;
    margin: 10px;
    font-family: "Black Ops One", system-ui;
        font-weight: 400;
        font-style: normal;
}

.negro{
    background-color: rgb(44, 41, 41);
    color: beige;
    border-collapse: separate;
    border: 1px solid lavender;
}

.siguiente{
    background-color: rgb(44, 41, 41);
    color: beige;
    border-collapse: separate;
    border: 1px solid lavender;
}

footer{
    background-color: rgb(44, 41, 41); 
    width: 100%;
    height: 40px;
    align-items: center;
    color: beige;
    font-family: "Black Ops One", system-ui;
    font-weight: 400;
    font-style: normal;  
}